**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/*.user
**/*.suo
**/publish
.dockerignore
Dockerfile

# Allow the database project dacpac to be copied in Docker builds
!BookFlix.Database/bin
!BookFlix.Database/bin/**
